/* 
* custom-style-css
*/

html,body{margin-top: 25px; font-size: 20px;}

.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
    background-color: white;
    font-weight: bold;
    z-index: 99999;
}

.logo{
    padding: 10px;
}
.menu li{
    float: left;
    padding: 10px;
}


.cover-mosaico{
    background-image: url("mosaico.jpg");
    background-position: top;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



/* HELPERS */

.br{border: 2px solid red;}

